{
  "openapi": "3.1.0",
  "info": {
    "title": "LangWatch API",
    "version": "1.0.0",
    "description": "LangWatch openapi spec"
  },
  "servers": [
    {
      "url": "https://app.langwatch.ai"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/api/annotations": {
      "get": {
        "description": "Retrieve project-wide annotations for large-scale dataset building and AI agent evaluation workflows.",
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/annotations/trace/{id}": {
      "get": {
        "description": "Retrieve all annotations for a trace to support systematic debugging and evaluation workflows in agent testing.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create annotations for traces to support domain labeling, evaluation scoring, and agent testing workflows.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the trace to annotate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Annotation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "isThumbsUp": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/annotations/{id}": {
      "get": {
        "description": "Retrieve single annotations to inspect evaluation inputs, domain labels, and agent testing context.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of annotation to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete annotations as part of maintaining clean evaluation datasets and agent testing pipelines.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of annotation to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Patch annotations programmatically to refine trace labeling and support structured AI agent evaluation workflows.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of annotation to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "isThumbsUp": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/traces/search": {
      "post": {
        "summary": "Search traces",
        "description": "Search traces with filters, text query, and date range. Returns AI-readable trace digests by default, or raw JSON data. Supports pagination via scrollId.",
        "tags": ["Traces"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["startDate", "endDate"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Text search query to match against trace content"
                  },
                  "startDate": {
                    "oneOf": [
                      { "type": "integer", "description": "Epoch timestamp in milliseconds" },
                      { "type": "string", "format": "date-time", "description": "ISO 8601 date string" }
                    ],
                    "description": "Start of the time range"
                  },
                  "endDate": {
                    "oneOf": [
                      { "type": "integer", "description": "Epoch timestamp in milliseconds" },
                      { "type": "string", "format": "date-time", "description": "ISO 8601 date string" }
                    ],
                    "description": "End of the time range"
                  },
                  "pageSize": {
                    "type": "integer",
                    "default": 25,
                    "maximum": 1000,
                    "description": "Number of traces per page (max 1000)"
                  },
                  "scrollId": {
                    "type": "string",
                    "nullable": true,
                    "description": "Pagination token from a previous search response to fetch the next page"
                  },
                  "filters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "description": "Key-value filters (e.g. {\"metadata.labels\": [\"production\"]})"
                  },
                  "format": {
                    "type": "string",
                    "enum": ["digest", "json"],
                    "default": "digest",
                    "description": "Output format: 'digest' returns AI-readable formatted traces with span hierarchy, 'json' returns full raw trace data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching traces with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traces": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "When format=digest: includes trace_id, formatted_trace, input, output, timestamps, metadata, error. When format=json: full raw trace object.",
                        "properties": {
                          "trace_id": { "type": "string" },
                          "formatted_trace": {
                            "type": "string",
                            "description": "AI-readable hierarchical span digest (only present when format=digest)"
                          },
                          "input": { "type": "object", "properties": { "value": { "type": "string" } } },
                          "output": { "type": "object", "properties": { "value": { "type": "string" } } },
                          "timestamps": { "$ref": "#/components/schemas/Timestamps" },
                          "metadata": { "$ref": "#/components/schemas/Metadata" },
                          "error": { "type": "object", "nullable": true }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "totalHits": { "type": "integer" },
                        "scrollId": {
                          "type": "string",
                          "description": "Pass this value as scrollId in the next request to fetch the next page"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/traces/{traceId}": {
      "get": {
        "summary": "Get trace details",
        "description": "Get full details of a single trace by ID. Returns AI-readable trace digest by default with span hierarchy, evaluations, and metadata. Use format=json for full raw data including all spans.",
        "tags": ["Traces"],
        "parameters": [
          {
            "name": "traceId",
            "in": "path",
            "description": "The trace ID to retrieve",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format: 'digest' (default, AI-readable) or 'json' (full raw data)",
            "required": false,
            "schema": { "type": "string", "enum": ["digest", "json"], "default": "digest" }
          }
        ],
        "responses": {
          "200": {
            "description": "Trace details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "When format=digest: includes trace_id, formatted_trace, timestamps, metadata, evaluations. When format=json: includes spans array, evaluations, ascii_tree, metadata.",
                  "properties": {
                    "trace_id": { "type": "string" },
                    "formatted_trace": {
                      "type": "string",
                      "description": "AI-readable hierarchical span digest (only present when format=digest)"
                    },
                    "timestamps": { "$ref": "#/components/schemas/Timestamps" },
                    "metadata": { "$ref": "#/components/schemas/Metadata" },
                    "evaluations": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Evaluation" }
                    },
                    "spans": {
                      "type": "array",
                      "description": "Full span data (only present when format=json)",
                      "items": { "type": "object" }
                    },
                    "ascii_tree": {
                      "type": "string",
                      "description": "ASCII tree representation (only present when format=json)"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Trace not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/{id}/share": {
      "post": {
        "description": "Generate public trace paths using LangWatch to share insights, evaluations, and agent testing results securely.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to share",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public path created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/{id}/unshare": {
      "post": {
        "description": "Delete public trace paths using LangWatch’s API to maintain control over evaluation and agent testing data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to unshare",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public path deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/prompts/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "handle": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "scope": {
                      "type": "string",
                      "enum": [
                        "ORGANIZATION",
                        "PROJECT"
                      ]
                    },
                    "name": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "versionId": {
                      "type": "string"
                    },
                    "authorId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "version": {
                      "type": "number"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "commitMessage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "user",
                              "assistant",
                              "system"
                            ]
                          },
                          "content": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "role",
                          "content"
                        ]
                      },
                      "default": []
                    },
                    "inputs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "minLength": 1
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "str",
                              "float",
                              "bool",
                              "image",
                              "list[str]",
                              "list[float]",
                              "list[int]",
                              "list[bool]",
                              "dict"
                            ]
                          }
                        },
                        "required": [
                          "identifier",
                          "type"
                        ]
                      },
                      "minItems": 1
                    },
                    "outputs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "minLength": 1
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "str",
                              "float",
                              "bool",
                              "json_schema"
                            ]
                          },
                          "json_schema": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "additionalProperties": true
                          }
                        },
                        "required": [
                          "identifier",
                          "type"
                        ]
                      },
                      "minItems": 1
                    },
                    "model": {
                      "type": "string",
                      "minLength": 1
                    },
                    "temperature": {
                      "type": "number"
                    },
                    "maxTokens": {
                      "type": "number"
                    },
                    "demonstrations": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "inline": {
                          "type": "object",
                          "properties": {
                            "records": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "columnTypes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "const": "string"
                                      },
                                      {
                                        "type": "string",
                                        "const": "boolean"
                                      },
                                      {
                                        "type": "string",
                                        "const": "number"
                                      },
                                      {
                                        "type": "string",
                                        "const": "date"
                                      },
                                      {
                                        "type": "string",
                                        "const": "list"
                                      },
                                      {
                                        "type": "string",
                                        "const": "json"
                                      },
                                      {
                                        "type": "string",
                                        "const": "spans"
                                      },
                                      {
                                        "type": "string",
                                        "const": "rag_contexts"
                                      },
                                      {
                                        "type": "string",
                                        "const": "chat_messages"
                                      },
                                      {
                                        "type": "string",
                                        "const": "annotations"
                                      },
                                      {
                                        "type": "string",
                                        "const": "evaluations"
                                      },
                                      {
                                        "type": "string",
                                        "const": "image"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "name",
                                  "type"
                                ]
                              }
                            }
                          },
                          "required": [
                            "records",
                            "columnTypes"
                          ]
                        }
                      }
                    },
                    "promptingTechnique": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "few_shot",
                            "in_context",
                            "chain_of_thought"
                          ]
                        },
                        "demonstrations": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "inline": {
                              "type": "object",
                              "properties": {
                                "records": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "columnTypes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "anyOf": [
                                          {
                                            "type": "string",
                                            "const": "string"
                                          },
                                          {
                                            "type": "string",
                                            "const": "boolean"
                                          },
                                          {
                                            "type": "string",
                                            "const": "number"
                                          },
                                          {
                                            "type": "string",
                                            "const": "date"
                                          },
                                          {
                                            "type": "string",
                                            "const": "list"
                                          },
                                          {
                                            "type": "string",
                                            "const": "json"
                                          },
                                          {
                                            "type": "string",
                                            "const": "spans"
                                          },
                                          {
                                            "type": "string",
                                            "const": "rag_contexts"
                                          },
                                          {
                                            "type": "string",
                                            "const": "chat_messages"
                                          },
                                          {
                                            "type": "string",
                                            "const": "annotations"
                                          },
                                          {
                                            "type": "string",
                                            "const": "evaluations"
                                          },
                                          {
                                            "type": "string",
                                            "const": "image"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "type"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "records",
                                "columnTypes"
                              ]
                            }
                          }
                        }
                      },
                      "required": [
                        "type"
                      ]
                    },
                    "responseFormat": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "json_schema"
                          ]
                        },
                        "json_schema": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "schema": {
                              "type": "object"
                            }
                          },
                          "required": [
                            "name",
                            "schema"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "json_schema"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "handle",
                    "scope",
                    "name",
                    "updatedAt",
                    "projectId",
                    "organizationId",
                    "versionId",
                    "version",
                    "createdAt",
                    "prompt",
                    "messages",
                    "inputs",
                    "outputs",
                    "model"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getApiPromptsById",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Specific version number to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "description": "Retrieve prompts via the API to support versioning, evaluation workflows, and agent testing pipelines."
      },
      "put": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "handle": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "scope": {
                      "type": "string",
                      "enum": [
                        "ORGANIZATION",
                        "PROJECT"
                      ]
                    },
                    "name": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "versionId": {
                      "type": "string"
                    },
                    "authorId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "version": {
                      "type": "number"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "commitMessage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "user",
                              "assistant",
                              "system"
                            ]
                          },
                          "content": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "role",
                          "content"
                        ]
                      },
                      "default": []
                    },
                    "inputs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "minLength": 1
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "str",
                              "float",
                              "bool",
                              "image",
                              "list[str]",
                              "list[float]",
                              "list[int]",
                              "list[bool]",
                              "dict"
                            ]
                          }
                        },
                        "required": [
                          "identifier",
                          "type"
                        ]
                      },
                      "minItems": 1
                    },
                    "outputs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "minLength": 1
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "str",
                              "float",
                              "bool",
                              "json_schema"
                            ]
                          },
                          "json_schema": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "additionalProperties": true
                          }
                        },
                        "required": [
                          "identifier",
                          "type"
                        ]
                      },
                      "minItems": 1
                    },
                    "model": {
                      "type": "string",
                      "minLength": 1
                    },
                    "temperature": {
                      "type": "number"
                    },
                    "maxTokens": {
                      "type": "number"
                    },
                    "demonstrations": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "inline": {
                          "type": "object",
                          "properties": {
                            "records": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "columnTypes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "const": "string"
                                      },
                                      {
                                        "type": "string",
                                        "const": "boolean"
                                      },
                                      {
                                        "type": "string",
                                        "const": "number"
                                      },
                                      {
                                        "type": "string",
                                        "const": "date"
                                      },
                                      {
                                        "type": "string",
                                        "const": "list"
                                      },
                                      {
                                        "type": "string",
                                        "const": "json"
                                      },
                                      {
                                        "type": "string",
                                        "const": "spans"
                                      },
                                      {
                                        "type": "string",
                                        "const": "rag_contexts"
                                      },
                                      {
                                        "type": "string",
                                        "const": "chat_messages"
                                      },
                                      {
                                        "type": "string",
                                        "const": "annotations"
                                      },
                                      {
                                        "type": "string",
                                        "const": "evaluations"
                                      },
                                      {
                                        "type": "string",
                                        "const": "image"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "name",
                                  "type"
                                ]
                              }
                            }
                          },
                          "required": [
                            "records",
                            "columnTypes"
                          ]
                        }
                      }
                    },
                    "promptingTechnique": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "few_shot",
                            "in_context",
                            "chain_of_thought"
                          ]
                        },
                        "demonstrations": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "inline": {
                              "type": "object",
                              "properties": {
                                "records": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "columnTypes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "anyOf": [
                                          {
                                            "type": "string",
                                            "const": "string"
                                          },
                                          {
                                            "type": "string",
                                            "const": "boolean"
                                          },
                                          {
                                            "type": "string",
                                            "const": "number"
                                          },
                                          {
                                            "type": "string",
                                            "const": "date"
                                          },
                                          {
                                            "type": "string",
                                            "const": "list"
                                          },
                                          {
                                            "type": "string",
                                            "const": "json"
                                          },
                                          {
                                            "type": "string",
                                            "const": "spans"
                                          },
                                          {
                                            "type": "string",
                                            "const": "rag_contexts"
                                          },
                                          {
                                            "type": "string",
                                            "const": "chat_messages"
                                          },
                                          {
                                            "type": "string",
                                            "const": "annotations"
                                          },
                                          {
                                            "type": "string",
                                            "const": "evaluations"
                                          },
                                          {
                                            "type": "string",
                                            "const": "image"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "type"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "records",
                                "columnTypes"
                              ]
                            }
                          }
                        }
                      },
                      "required": [
                        "type"
                      ]
                    },
                    "responseFormat": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "json_schema"
                          ]
                        },
                        "json_schema": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "schema": {
                              "type": "object"
                            }
                          },
                          "required": [
                            "name",
                            "schema"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "json_schema"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "handle",
                    "scope",
                    "name",
                    "updatedAt",
                    "projectId",
                    "organizationId",
                    "versionId",
                    "version",
                    "createdAt",
                    "prompt",
                    "messages",
                    "inputs",
                    "outputs",
                    "model"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "putApiPromptsById",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "description": "Update prompts to refine versions, run new evaluations, and test agent performance under changing configurations.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "temperature": {
                    "type": "number"
                  },
                  "maxTokens": {
                    "type": "number"
                  },
                  "commitMessage": {
                    "type": "string"
                  },
                  "authorId": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant",
                            "system"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    }
                  },
                  "inputs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "str",
                            "float",
                            "bool",
                            "image",
                            "list[str]",
                            "list[float]",
                            "list[int]",
                            "list[bool]",
                            "dict"
                          ]
                        }
                      },
                      "required": [
                        "identifier",
                        "type"
                      ]
                    }
                  },
                  "outputs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "str",
                            "float",
                            "bool",
                            "json_schema"
                          ]
                        },
                        "json_schema": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": true
                        }
                      },
                      "required": [
                        "identifier",
                        "type"
                      ]
                    }
                  },
                  "schemaVersion": {
                    "type": "string",
                    "enum": [
                      "1.0"
                    ]
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "ORGANIZATION",
                      "PROJECT"
                    ]
                  },
                  "handle": {
                    "type": "string",
                    "pattern": "^[a-z0-9_-]+(?:\\/[a-z0-9_-]+)?$"
                  }
                },
                "required": [
                  "commitMessage"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "deleteApiPromptsById",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "description": "Delete prompts programmatically using LangWatch to manage versioning and maintain clean evaluation pipelines."
      }
    },
    "/api/prompts/{id}/versions": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "handle": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "scope": {
                        "type": "string",
                        "enum": [
                          "ORGANIZATION",
                          "PROJECT"
                        ]
                      },
                      "name": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "projectId": {
                        "type": "string"
                      },
                      "organizationId": {
                        "type": "string"
                      },
                      "versionId": {
                        "type": "string"
                      },
                      "authorId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "version": {
                        "type": "number"
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "commitMessage": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "prompt": {
                        "type": "string"
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "user",
                                "assistant",
                                "system"
                              ]
                            },
                            "content": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ]
                        },
                        "default": []
                      },
                      "inputs": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string",
                              "minLength": 1
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "str",
                                "float",
                                "bool",
                                "image",
                                "list[str]",
                                "list[float]",
                                "list[int]",
                                "list[bool]",
                                "dict"
                              ]
                            }
                          },
                          "required": [
                            "identifier",
                            "type"
                          ]
                        },
                        "minItems": 1
                      },
                      "outputs": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string",
                              "minLength": 1
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "str",
                                "float",
                                "bool",
                                "json_schema"
                              ]
                            },
                            "json_schema": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              },
                              "required": [
                                "type"
                              ],
                              "additionalProperties": true
                            }
                          },
                          "required": [
                            "identifier",
                            "type"
                          ]
                        },
                        "minItems": 1
                      },
                      "model": {
                        "type": "string",
                        "minLength": 1
                      },
                      "temperature": {
                        "type": "number"
                      },
                      "maxTokens": {
                        "type": "number"
                      },
                      "demonstrations": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "inline": {
                            "type": "object",
                            "properties": {
                              "records": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "columnTypes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "anyOf": [
                                        {
                                          "type": "string",
                                          "const": "string"
                                        },
                                        {
                                          "type": "string",
                                          "const": "boolean"
                                        },
                                        {
                                          "type": "string",
                                          "const": "number"
                                        },
                                        {
                                          "type": "string",
                                          "const": "date"
                                        },
                                        {
                                          "type": "string",
                                          "const": "list"
                                        },
                                        {
                                          "type": "string",
                                          "const": "json"
                                        },
                                        {
                                          "type": "string",
                                          "const": "spans"
                                        },
                                        {
                                          "type": "string",
                                          "const": "rag_contexts"
                                        },
                                        {
                                          "type": "string",
                                          "const": "chat_messages"
                                        },
                                        {
                                          "type": "string",
                                          "const": "annotations"
                                        },
                                        {
                                          "type": "string",
                                          "const": "evaluations"
                                        },
                                        {
                                          "type": "string",
                                          "const": "image"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "records",
                              "columnTypes"
                            ]
                          }
                        }
                      },
                      "promptingTechnique": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "few_shot",
                              "in_context",
                              "chain_of_thought"
                            ]
                          },
                          "demonstrations": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "inline": {
                                "type": "object",
                                "properties": {
                                  "records": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "columnTypes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "anyOf": [
                                            {
                                              "type": "string",
                                              "const": "string"
                                            },
                                            {
                                              "type": "string",
                                              "const": "boolean"
                                            },
                                            {
                                              "type": "string",
                                              "const": "number"
                                            },
                                            {
                                              "type": "string",
                                              "const": "date"
                                            },
                                            {
                                              "type": "string",
                                              "const": "list"
                                            },
                                            {
                                              "type": "string",
                                              "const": "json"
                                            },
                                            {
                                              "type": "string",
                                              "const": "spans"
                                            },
                                            {
                                              "type": "string",
                                              "const": "rag_contexts"
                                            },
                                            {
                                              "type": "string",
                                              "const": "chat_messages"
                                            },
                                            {
                                              "type": "string",
                                              "const": "annotations"
                                            },
                                            {
                                              "type": "string",
                                              "const": "evaluations"
                                            },
                                            {
                                              "type": "string",
                                              "const": "image"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "name",
                                        "type"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "records",
                                  "columnTypes"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      "responseFormat": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "json_schema"
                            ]
                          },
                          "json_schema": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "schema": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "name",
                              "schema"
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "json_schema"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "handle",
                      "scope",
                      "name",
                      "updatedAt",
                      "projectId",
                      "organizationId",
                      "versionId",
                      "version",
                      "createdAt",
                      "prompt",
                      "messages",
                      "inputs",
                      "outputs",
                      "model"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getApiPromptsByIdVersions",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "description": "Retrieve prompt versions for structured version control, evaluations, and automated AI agent testing workflows."
      }
    },
    "/api/prompts/{id}/sync": {
      "post": {
        "responses": {
          "200": {
            "description": "Sync result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "enum": [
                        "created",
                        "updated",
                        "conflict",
                        "up_to_date"
                      ]
                    },
                    "prompt": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "handle": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "scope": {
                          "type": "string",
                          "enum": [
                            "ORGANIZATION",
                            "PROJECT"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "organizationId": {
                          "type": "string"
                        },
                        "versionId": {
                          "type": "string"
                        },
                        "authorId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "version": {
                          "type": "number"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "commitMessage": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prompt": {
                          "type": "string"
                        },
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "enum": [
                                  "user",
                                  "assistant",
                                  "system"
                                ]
                              },
                              "content": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "role",
                              "content"
                            ]
                          },
                          "default": []
                        },
                        "inputs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "identifier": {
                                "type": "string",
                                "minLength": 1
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "str",
                                  "float",
                                  "bool",
                                  "image",
                                  "list[str]",
                                  "list[float]",
                                  "list[int]",
                                  "list[bool]",
                                  "dict"
                                ]
                              }
                            },
                            "required": [
                              "identifier",
                              "type"
                            ]
                          },
                          "minItems": 1
                        },
                        "outputs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "identifier": {
                                "type": "string",
                                "minLength": 1
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "str",
                                  "float",
                                  "bool",
                                  "json_schema"
                                ]
                              },
                              "json_schema": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "type"
                                ],
                                "additionalProperties": true
                              }
                            },
                            "required": [
                              "identifier",
                              "type"
                            ]
                          },
                          "minItems": 1
                        },
                        "model": {
                          "type": "string",
                          "minLength": 1
                        },
                        "temperature": {
                          "type": "number"
                        },
                        "maxTokens": {
                          "type": "number"
                        },
                        "demonstrations": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "inline": {
                              "type": "object",
                              "properties": {
                                "records": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "columnTypes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "anyOf": [
                                          {
                                            "type": "string",
                                            "const": "string"
                                          },
                                          {
                                            "type": "string",
                                            "const": "boolean"
                                          },
                                          {
                                            "type": "string",
                                            "const": "number"
                                          },
                                          {
                                            "type": "string",
                                            "const": "date"
                                          },
                                          {
                                            "type": "string",
                                            "const": "list"
                                          },
                                          {
                                            "type": "string",
                                            "const": "json"
                                          },
                                          {
                                            "type": "string",
                                            "const": "spans"
                                          },
                                          {
                                            "type": "string",
                                            "const": "rag_contexts"
                                          },
                                          {
                                            "type": "string",
                                            "const": "chat_messages"
                                          },
                                          {
                                            "type": "string",
                                            "const": "annotations"
                                          },
                                          {
                                            "type": "string",
                                            "const": "evaluations"
                                          },
                                          {
                                            "type": "string",
                                            "const": "image"
[...]
