{
  "openapi": "3.1.0",
  "info": {
    "title": "LangEvals API",
    "version": "1.0.0",
    "description": "API for LangEvals evaluators"
  },
  "servers": [
    {
      "url": "https://app.langwatch.ai/api/evaluations",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/huggingface/llama_guard/evaluate": {
      "post": {
        "summary": "Llama Guard",
        "description": "This evaluator is a special version of Llama trained strictly\nfor acting as a guardrail, following customizable guidelines.\nIt can work both as a safety evaluator and as policy enforcement.",
        "operationId": "huggingface_llama_guard_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/huggingface_llama_guardRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/huggingface_llama_guardSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"huggingface/llama_guard\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"huggingface/llama_guard\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"huggingface/llama_guard\",\n        name: \"\",\n\n        input: \"\", # optional\n        output: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/basic/evaluate": {
      "post": {
        "summary": "Custom Basic Evaluator",
        "description": "Allows you to check for simple text matches or regex evaluation.",
        "operationId": "langevals_basic_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_basicRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_basicSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/basic\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/basic\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/basic\",\n        name: \"\",\n\n        input: \"\", # optional\n        output: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/competitor_blocklist/evaluate": {
      "post": {
        "summary": "Competitor Blocklist",
        "description": "This evaluator checks if any of the specified competitors was mentioned",
        "operationId": "langevals_competitor_blocklist_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_competitor_blocklistRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_competitor_blocklistSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/competitor_blocklist\",\n        index=index,\n        data={\n            \"output\": output,\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/competitor_blocklist\",\n        data={\n            \"output\": \"\",\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/competitor_blocklist\",\n        name: \"\",\n\n        output: \"\", # optional\n        input: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/competitor_llm/evaluate": {
      "post": {
        "summary": "Competitor Allowlist Check",
        "description": "This evaluator use an LLM-as-judge to check if the conversation is related to competitors, without having to name them explicitly",
        "operationId": "langevals_competitor_llm_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_competitor_llmRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_competitor_llmSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/competitor_llm\",\n        index=index,\n        data={\n            \"output\": output,\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/competitor_llm\",\n        data={\n            \"output\": \"\",\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/competitor_llm\",\n        name: \"\",\n\n        output: \"\", # optional\n        input: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/competitor_llm_function_call/evaluate": {
      "post": {
        "summary": "Competitor LLM Check",
        "description": "This evaluator implements LLM-as-a-judge with a function call approach to check if the message contains a mention of a competitor.",
        "operationId": "langevals_competitor_llm_function_call_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_competitor_llm_function_callRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_competitor_llm_function_callSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/competitor_llm_function_call\",\n        index=index,\n        data={\n            \"output\": output,\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/competitor_llm_function_call\",\n        data={\n            \"output\": \"\",\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/competitor_llm_function_call\",\n        name: \"\",\n\n        output: \"\", # optional\n        input: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/exact_match/evaluate": {
      "post": {
        "summary": "Exact Match Evaluator",
        "description": "A simple evaluator that checks if the output matches the expected_output exactly.",
        "operationId": "langevals_exact_match_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_exact_matchRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_exact_matchSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/exact_match\",\n        index=index,\n        data={\n            \"output\": output,\n            \"expected_output\": row[\"expected_output\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/exact_match\",\n        data={\n            \"output\": \"\",\n            \"expected_output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/exact_match\",\n        name: \"\",\n\n        output: \"\", # optional\n        expected_output: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/llm_answer_match/evaluate": {
      "post": {
        "summary": "LLM Answer Match",
        "description": "Uses an LLM to check if the generated output answers a question correctly the same way as the expected output, even if their style is different.",
        "operationId": "langevals_llm_answer_match_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_llm_answer_matchRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_llm_answer_matchSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/llm_answer_match\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n            \"expected_output\": row[\"expected_output\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/llm_answer_match\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n            \"expected_output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/llm_answer_match\",\n        name: \"\",\n\n        input: \"\", # optional\n        output: \"\", # optional\n        expected_output: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/llm_boolean/evaluate": {
      "post": {
        "summary": "LLM-as-a-Judge Boolean Evaluator",
        "description": "Use an LLM as a judge with a custom prompt to do a true/false boolean evaluation of the message.",
        "operationId": "langevals_llm_boolean_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_llm_booleanRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_llm_booleanSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/llm_boolean\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n            \"contexts\": row[\"contexts\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/llm_boolean\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n            \"contexts\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/llm_boolean\",\n        name: \"\",\n\n        input: \"\", # optional\n        output: \"\", # optional\n        contexts: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/llm_category/evaluate": {
      "post": {
        "summary": "LLM-as-a-Judge Category Evaluator",
        "description": "Use an LLM as a judge with a custom prompt to classify the message into custom defined categories.",
        "operationId": "langevals_llm_category_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_llm_categoryRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_llm_categorySettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/llm_category\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n            \"contexts\": row[\"contexts\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/llm_category\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n            \"contexts\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/llm_category\",\n        name: \"\",\n\n        input: \"\", # optional\n        output: \"\", # optional\n        contexts: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/llm_score/evaluate": {
      "post": {
        "summary": "LLM-as-a-Judge Score Evaluator",
        "description": "Use an LLM as a judge with custom prompt to do a numeric score evaluation of the message.",
        "operationId": "langevals_llm_score_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_llm_scoreRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_llm_scoreSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/llm_score\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n            \"contexts\": row[\"contexts\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/llm_score\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n            \"contexts\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/llm_score\",\n        name: \"\",\n\n        input: \"\", # optional\n        output: \"\", # optional\n        contexts: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/off_topic/evaluate": {
      "post": {
        "summary": "Off Topic Evaluator",
        "description": "This evaluator checks if the user message is concerning one of the allowed topics of the chatbot",
        "operationId": "langevals_off_topic_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_off_topicRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_off_topicSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/off_topic\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/off_topic\",\n        data={\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/off_topic\",\n        name: \"\",\n        input: \"\", // required\n\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/query_resolution/evaluate": {
      "post": {
        "summary": "Query Resolution",
        "description": "This evaluator checks if all the user queries in the conversation were resolved. Useful to detect when the bot doesn't know how to answer or can't help the user.",
        "operationId": "langevals_query_resolution_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_query_resolutionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_query_resolutionSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/query_resolution\",\n        index=index,\n        data={\n            \"conversation\": conversation,\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/query_resolution\",\n        data={\n            \"conversation\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/query_resolution\",\n        name: \"\",\n        conversation: \"\", // required\n\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/similarity/evaluate": {
      "post": {
        "summary": "Semantic Similarity Evaluator",
        "description": "Allows you to check for semantic similarity or dissimilarity between input and output and a\ntarget value, so you can avoid sentences that you don't want to be present without having to\nmatch on the exact text.",
        "operationId": "langevals_similarity_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_similarityRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_similaritySettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/similarity\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/similarity\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/similarity\",\n        name: \"\",\n\n        input: \"\", # optional\n        output: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/langevals/valid_format/evaluate": {
      "post": {
        "summary": "Valid Format Evaluator",
        "description": "Allows you to check if the output is a valid json, markdown, python, sql, etc.\nFor JSON, can optionally validate against a provided schema.",
        "operationId": "langevals_valid_format_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_valid_formatRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_valid_formatSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"langevals/valid_format\",\n        index=index,\n        data={\n            \"output\": output,\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"langevals/valid_format\",\n        data={\n            \"output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"langevals/valid_format\",\n        name: \"\",\n\n        output: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/azure/content_safety/evaluate": {
      "post": {
        "summary": "Azure Content Safety",
        "description": "This evaluator detects potentially unsafe content in text, including hate speech,\nself-harm, sexual content, and violence. It allows customization of the severity\nthreshold and the specific categories to check.",
        "operationId": "azure_content_safety_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/azure_content_safetyRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/azure_content_safetySettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"azure/content_safety\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"azure/content_safety\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"azure/content_safety\",\n        name: \"\",\n\n        input: \"\", # optional\n        output: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/azure/jailbreak/evaluate": {
      "post": {
        "summary": "Azure Jailbreak Detection",
        "description": "This evaluator checks for jailbreak-attempt in the input using Azure's Content Safety API.",
        "operationId": "azure_jailbreak_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/azure_jailbreakRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"azure/jailbreak\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"azure/jailbreak\",\n        data={\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"azure/jailbreak\",\n        name: \"\",\n        input: \"\", // required\n\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/azure/prompt_injection/evaluate": {
      "post": {
        "summary": "Azure Prompt Shield",
        "description": "This evaluator checks for prompt injection attempt in the input and the contexts using Azure's Content Safety API.",
        "operationId": "azure_prompt_injection_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/azure_prompt_injectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"azure/prompt_injection\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"contexts\": row[\"contexts\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"azure/prompt_injection\",\n        data={\n            \"input\": \"\",\n            \"contexts\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"azure/prompt_injection\",\n        name: \"\",\n        input: \"\", // required\n        contexts: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/openai/moderation/evaluate": {
      "post": {
        "summary": "OpenAI Moderation",
        "description": "This evaluator uses OpenAI's moderation API to detect potentially harmful content in text,\nincluding harassment, hate speech, self-harm, sexual content, and violence.",
        "operationId": "openai_moderation_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/openai_moderationRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/openai_moderationSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"openai/moderation\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"openai/moderation\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"openai/moderation\",\n        name: \"\",\n\n        input: \"\", # optional\n        output: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/lingua/language_detection/evaluate": {
      "post": {
        "summary": "Lingua Language Detection",
        "description": "This evaluator detects the language of the input and output text to check for example if the generated answer is in the same language as the prompt,\nor if it's in a specific expected language.",
        "operationId": "lingua_language_detection_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/lingua_language_detectionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/lingua_language_detectionSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"lingua/language_detection\",\n        index=index,\n        data={\n            \"output\": output,\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"lingua/language_detection\",\n        data={\n            \"output\": \"\",\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"lingua/language_detection\",\n        name: \"\",\n        output: \"\", // required\n        input: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/legacy/ragas_answer_correctness/evaluate": {
      "post": {
        "summary": "Ragas Answer Correctness",
        "description": "Computes with an LLM a weighted combination of factual as well as semantic similarity between the generated answer and the expected output.",
        "operationId": "legacy_ragas_answer_correctness_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/legacy_ragas_answer_correctnessRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/legacy_ragas_answer_correctnessSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"legacy/ragas_answer_correctness\",\n        index=index,\n        data={\n            \"output\": output,\n            \"expected_output\": row[\"expected_output\"],\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"legacy/ragas_answer_correctness\",\n        data={\n            \"output\": \"\",\n            \"expected_output\": \"\",\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"legacy/ragas_answer_correctness\",\n        name: \"\",\n        output: \"\", // required\n        expected_output: \"\", // required\n        input: \"\", # optional\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/legacy/ragas_answer_relevancy/evaluate": {
      "post": {
        "summary": "Ragas Answer Relevancy",
        "description": "Evaluates how pertinent the generated answer is to the given prompt. Higher scores indicate better relevancy.",
        "operationId": "legacy_ragas_answer_relevancy_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/legacy_ragas_answer_relevancyRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/legacy_ragas_answer_relevancySettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"legacy/ragas_answer_relevancy\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"legacy/ragas_answer_relevancy\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"legacy/ragas_answer_relevancy\",\n        name: \"\",\n        input: \"\", // required\n        output: \"\", // required\n\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/legacy/ragas_context_precision/evaluate": {
      "post": {
        "summary": "Ragas Context Precision",
        "description": "This metric evaluates whether all of the ground-truth relevant items present in the contexts are ranked higher or not. Higher scores indicate better precision.",
        "operationId": "legacy_ragas_context_precision_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/legacy_ragas_context_precisionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/legacy_ragas_context_precisionSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"legacy/ragas_context_precision\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"contexts\": row[\"contexts\"],\n            \"expected_output\": row[\"expected_output\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"legacy/ragas_context_precision\",\n        data={\n            \"input\": \"\",\n            \"contexts\": \"\",\n            \"expected_output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"legacy/ragas_context_precision\",\n        name: \"\",\n        input: \"\", // required\n        contexts: \"\", // required\n        expected_output: \"\", // required\n\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/legacy/ragas_context_recall/evaluate": {
      "post": {
        "summary": "Ragas Context Recall",
        "description": "This evaluator measures the extent to which the retrieved context aligns with the annotated answer, treated as the ground truth. Higher values indicate better performance.",
        "operationId": "legacy_ragas_context_recall_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/legacy_ragas_context_recallRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/legacy_ragas_context_recallSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"legacy/ragas_context_recall\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"contexts\": row[\"contexts\"],\n            \"expected_output\": row[\"expected_output\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"legacy/ragas_context_recall\",\n        data={\n            \"input\": \"\",\n            \"contexts\": \"\",\n            \"expected_output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"legacy/ragas_context_recall\",\n        name: \"\",\n        input: \"\", // required\n        contexts: \"\", // required\n        expected_output: \"\", // required\n\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/legacy/ragas_context_relevancy/evaluate": {
      "post": {
        "summary": "Ragas Context Relevancy",
        "description": "This metric gauges the relevancy of the retrieved context, calculated based on both the question and contexts. The values fall within the range of (0, 1), with higher values indicating better relevancy.",
        "operationId": "legacy_ragas_context_relevancy_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/legacy_ragas_context_relevancyRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/legacy_ragas_context_relevancySettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"legacy/ragas_context_relevancy\",\n        index=index,\n        data={\n            \"output\": output,\n            \"contexts\": row[\"contexts\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"legacy/ragas_context_relevancy\",\n        data={\n            \"output\": \"\",\n            \"contexts\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"legacy/ragas_context_relevancy\",\n        name: \"\",\n        output: \"\", // required\n        contexts: \"\", // required\n\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/legacy/ragas_context_utilization/evaluate": {
      "post": {
        "summary": "Ragas Context Utilization",
        "description": "This metric evaluates whether all of the output relevant items present in the contexts are ranked higher or not. Higher scores indicate better utilization.",
        "operationId": "legacy_ragas_context_utilization_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/legacy_ragas_context_utilizationRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/legacy_ragas_context_utilizationSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Offline Evaluation",
            "source": "import langwatch\n\ndf = langwatch.dataset.get_dataset(\"dataset-id\").to_pandas()\n\nevaluation = langwatch.evaluation.init(\"my-incredible-evaluation\")\n\nfor index, row in evaluation.loop(df.iterrows()):\n    # your execution code here       \n    evaluation.run(\n        \"legacy/ragas_context_utilization\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n            \"contexts\": row[\"contexts\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Realtime Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef llm_step():\n    ... # your existing code\n    result = langwatch.get_current_span().evaluate(\n        \"legacy/ragas_context_utilization\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n            \"contexts\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "import { type LangWatchTrace } from \"langwatch\";\n\nasync function llmStep({ message, trace }: { message: string, trace: LangWatchTrace }): Promise<string> {\n    const span = trace.startLLMSpan({ name: \"llmStep\" });\n    \n    // ... your existing code\n\n    // call the evaluator either on a span or on a trace\n    const result = await span.evaluate({\n        evaluator: \"legacy/ragas_context_utilization\",\n        name: \"\",\n        input: \"\", // required\n        output: \"\", // required\n        contexts: \"\", // required\n\n        settings: {},\n    })\n\n    console.log(result);"
          }
        ]
      }
    },
    "/legacy/ragas_faithfulness/evaluate": {
      "post": {
        "summary": "Ragas Faithfulness",
        "description": "This evaluator assesses the extent to which the generated answer is consistent with the provided context. Higher scores indicate better faithfulness to the context, useful for detecting hallucinations.",
        "operationId": "legacy_ragas_faithfulness_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/legacy_ragas_faithfulnessRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/legacy_ragas_faithfulnessSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
[...]
